.DS_Store
/admin.php
/index.php
images/*
media/cache/*
media/import/*
media/file/*
media/products/*
media/attachments/*
themes/third_party/brilliant_retail/script/ckeditor/plugins/pgrfilemanager/PGRThumb/cache/* 
system/third_party/_local/*