.DS_Store
Dev Notes.txt
/admin.php
/index.php
_notes/*
_local/*
images/*
media/cache/*
media/import/*
media/file/*
media/download/*
media/products/*
media/images/*
media/import/*
media/attachments/*
themes/third_party/brilliant_retail/script/ckeditor/plugins/pgrfilemanager/PGRThumb/cache/* 
themes/site_themes/brilliant_retail/test.group/*
themes/site_themes/brilliant_retail/_test.group/*
/themes/third_party/br_license_manager
/system/expressionengine/third_party/br_license_manager
/system/expressionengine/third_party/brilliant_retail/libraries/dompdf/lib/fonts/log.htm

#Keepers
!media/cache/index.html
!media/file/index.html
!media/download/index.html