/* Start the Catalog page styles */
.page-header {
	margin: 2em 0;
}
ul.catalog {
	@include block-grid(4);
	    @media #{$small-only} {
		@include block-grid(3);
	}
}
.product_list,
.related_product {
	text-align: center;
	margin-bottom: 20px;
	.product_image,
	.product_price,
	.product_buy {
		@include grid-column(12);
	}
	.product_image {
		figure {
			margin: 0;
			padding: 0;
			overflow: hidden;
			margin-bottom: 10px;
			border-radius: 5px;
		}
		a {
			display: block;
		}
		p {
			margin-bottom: 0;
		}
	}
	p {
		font-size: emCalc(12);
		line-height: 1.4;
	}
}
.out_of_stock {
	color: $aluminum;
	font-weight: 600;
}
// Sale items
.price .sale {
	color: $alert-color;
}
.price .original {
	text-decoration:line-through;
	color: $aluminum;
	margin-right: 5px;
}

// Categories 
.category_lead {
	@media #{$small-only} {
		display: none;
	}	
}
.category_heading {
	@include grid-column(12);
	margin-bottom: 10px;
	h2 {
		@media #{$small-only} {
			margin: 0;
		}
	}
}
/* End the Catalog page styles */
